*,
::after,
::before {
    box-sizing: border-box;
}


html {
    font-size: 100%;
}

:root {


    /* rest of the colors */
    --black: #111111;
    --gray-900: #555555;
    --gray: #999999;
    --white: #fff;
    --headingFont: sans-serif;
    --bodyFont: sans-serif;
    --smallText: 0.7em;
    --backgroundColor: var(--white);
    --textColor: var(--black);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);

}

body {
    background: var(--backgroundColor);
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;

}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    color: var(--gray-900);
    font-size: 18px;
}

button {
    background-color: var(--white);
    border: 0;
}


small,
.text-small {
    font-size: var(--smallText);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* .img {
    width: 100%;
    display: block;
    object-fit: contain;
} */



/* Button Styles */
.hero-button {
    text-transform: capitalize;
    padding: 10px;
    display: inline-block;
    border: 3px solid red;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}

.pink {
    color: Pink !important;
}

.section {
    padding: 2rem 1em;
}


.subtitle {
    color: var(--black);
}

/*
===============
Navbar
===============
*/
nav {
    background: var(--white);
}

.nav-header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    margin-bottom: 0;
    font-weight: 700;
}

.logo span {
    color: var(--black);
}


.nav-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

/*
===============
Hero
===============
*/

.hero {
    margin: 16px 0px 32px 0px;
    padding: 0px 0px 0px 32px;
    position: relative;
    overflow-x: hidden;
    min-height: 10vh;
}

.hero-top {
    width: 70%;
    z-index: 1;
    font-weight: bold;
}

.hero-promo {
    text-transform: uppercase;
}

.hero img {
    position: absolute;
    z-index: -1;
    max-height: 100%;
    top: -50px;
    left: 100%;
    transform: translateX(-50%);
}


.hero-text {
    font-size: 18px;
    width: 85%;
    margin-bottom: 2rem;
    line-height: 2;
    font-weight: 400;
}

@media screen and (min-width: 768px) {

    .hero-title {
        font-size: 4.5rem;
    }

    .hero-text {
        width: 70%;
    }

    .nav-center {
        padding: 1 rem;
    }

    .hero-img {
        height: 100%;
        object-fit: cover;
    }
}

/*
===============
Banner
===============
*/

.banner {
    padding: 100px 32px 32px 16px;
    background: linear-gradient(to left, rgb(249, 209, 109) 10%, orange 50%, rgb(183, 49, 158) 100%)
}

.ba-title {
    text-align: left;
    font-size: 2.6rem;
    margin-bottom: 1rem;

    font-weight: 500;
}


/*
===============
logos
===============
*/

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-logo {
    margin: 5px;

}

/*
===============
About
===============
*/
.about {
    background: var(--white);
}

.about-photo {
    max-width: 100%;
}

.about-img,
.about-info {
    margin-bottom: 4rem;
}

.about-info h3 {
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .about-center {
        display: flex;
        justify-content: space-between;
    }

    .about-img,
    .about-info {
        flex: 0 0 calc(50% - 2rem);
        align-self: center;
        margin-bottom: 0;
    }

    .fa-bars {
        display: none;
    }
}

@media screen and (min-width: 1170px) {
    .about-img::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 0.5rem solid var(--black);
        top: -1.5rem;
        left: -1.5rem;
        border-radius: var(--borderRadius);
    }

    .about-img {
        position: relative;
    }

    .about-photo {
        position: relative;
    }
}

/*
===============
Services
===============
*/
.service {
    text-align: center;
    margin-bottom: 3rem;
}

.service-icon {
    background: var(--black);
    padding: 0.5rem;
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.service-title {
    text-transform: uppercase;
}

.service-text {
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: 300;
}

@media screen and (min-width: 576px) {
    .services-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service {
        flex: 0 0 calc(50% - 1rem);
    }
}

@media screen and (min-width: 992px) {
    .service {
        flex: 0 0 calc(33.333% - 1rem);
    }
}

@media screen and (min-width: 1170px) {
    .service {
        display: flex;
        text-align: left;
    }

    .service-icon {
        align-self: start;
    }

    .service-info {
        padding-left: 1rem;
    }

    .service-title {
        margin-bottom: 0.5rem;
    }

    .service-text {
        width: 90%;
        margin: 0;
    }
}

/*
===============
Featured
===============
*/
.featured-nfts {
    background: var(--white);
}

.nft-card {
    box-shadow: var(--shadow-1);
    transition: var(--mainTransition);
    margin-bottom: 1rem;
}

.nft-hidden {
    display: none;
}

.nft-footer {
    padding: 1.2rem 1.5rem;
    margin-top: -5%;
    background-color: #EEEEEE;
    max-width: fit-content;
    display: flex;

}

.nft-title {
    text-transform: capitalize;
}

.nft-country {
    color: var(--black);
    text-transform: capitalize;
}

.nft-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nft-details p {
    line-height: 0.2;
    text-transform: capitalize;
    color: var(--darkGrey);
    letter-spacing: 0.02rem;
}

.nft-country {
    align-self: center;
    color: var(--black);
}

.nft-link {
    text-transform: capitalize;
    text-align: center;
}

.nft-img-container {
    position: relative;
}

.nft-img {
    max-width: 100%;
}

.featured-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {


    .nft-hidden {
        display: block;
    }
}


/*
===============
Footer
===============
*/
.footer {

    color: var(--black);
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer-links,
.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
}

.footer-link {
    color: var(--black);
    text-transform: capitalize;
    font-size: 1rem;
    margin-right: 1rem;
    letter-spacing: var(--letterSpacing);
}


.copyright {
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

.nav-icons {
    display: none;
}

.nav-center {
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    /* padding: 1rem 2rem; */
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.nav-toggle {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


.nav-link {
    display: block;
    padding: 1rem 2rem;
    color: var(--black);
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}


.nav-links {
    height: 0;
    overflow: hidden;
}

.show-links {
    height: 270px;
}

@media screen and (min-width: 992px) {
    .nav-toggle {
        display: none;
    }

    .nav-links {
        height: auto;
        display: flex;
    }

    .nav-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav-header {
        padding: 0 0;
    }

    .nav-link {
        padding: 0 0;
    }


    .nav-icons {
        display: flex;
    }

    .navbar {
        padding: 1rem 2rem;
    }

    .nav-center {
        width: 100%;
        max-width: 1170px;
    }

    .nav-link {
        margin-right: 0.7rem;
    }

    .nav-icon {
        margin-right: 0.7rem;
        color: var(--black);
        font-size: 1.2rem;
    }
}

.box-shadow {
    box-shadow: var(--shadow-2);
}
